
.removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.imageOverlay {

    position: absolute;
    top: calc(28.2%);
    left: calc(4.8%);
    display: flex;
    justify-content: center;
    width: 1154px;
    height: 560px;
    z-index: 900;


}

.imageOverlay2 {

    position: absolute;
    top: calc(28.2%);
    right: calc(5.2%);
    display: flex;
    justify-content: center;
    width: 1154px;
    height: 560px;
    z-index: 900;


}

.imaCapturada {
    position: absolute;
    left: calc(29.5%);
    top: calc(28%);
    display: flex;
    justify-content: center;


}

.imageOverlay p {
    position: absolute;
    padding: 5px;
    background-color: rgba(23, 23, 23, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 10px;
}

.imageOverlay2 p {
    position: absolute;
    padding: 5px;
    background-color: rgba(23, 23, 23, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 10px;
}

.highlighter {
    background: rgb(58, 103, 157, 0.20);
    border: 1px dashed #fff;
    z-index: 2;
    position: absolute;
}
.highlighter2 {
    background: rgb(58, 103, 157, 0.20);
    border: 1px dashed #fff;
    z-index: 2;
    position: absolute;
}